.divpla {padding:5px; border:2px solid lightgreen;}
.divenq {padding:5px; border:2px solid cyan;}
.divarq {padding:5px; border:2px solid magenta;}
.divinf {padding:5px; border:2px solid yellow;}
.PLA {background:lightgreen;}
.ENQ {background:cyan;}
.ARQ {background:magenta;}
.INF {background:magenta;}
.divpart {background:lightgrey;} 