.divpart {padding:3px; margin: 5px; border:5px solid lightgrey; background:lightgrey;}
.divpartit {background:white;}
.divseccion {padding:5px; margin-top:3px; margin-bottom:3px; border-width:3px}
.divpla {border:solid lightgreen; background:white;}
.divenq {border:solid cyan; background:white;}
.divarq {border: solid magenta; background:white;}
.divinf {border: solid gold; background:white;}
.PLA {background:lightgreen;}
.ENQ {background:cyan;}
.ARQ {background:magenta;}
.INF {background:gold;}
.participante {font-color:red;}
