.divpla {padding:5px; border:1px solid lightgreen;}
.divenq {margin:5px; border:1px solid cyan;}
.divarq {padding:5px; border:1px solid magenta;}
.PLA {background:lightgreen;}
.ENQ {background:cyan;}
.ARQ {background:magenta;}
.centro {} 